@use "../base/variables" as *;

.section-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 30px;

  span:last-child {
    margin-top: 2px;
  }

  .icon-circle {
    width: calc($icon-size * 1.46);
    height: calc($icon-size * 1.46);
    border-radius: 50%;
    margin-right: $base-spacing;

    img {
      width: $icon-size;
      height: $icon-size;
    }
  }
}
