<div class="row two-cols">
  <div class="col-6">
    <div class="section-title">
      <span class="icon-circle">
        <img src="img/education.svg" class="icon" alt="education icon" />
      </span>
      <span>MY EDUCATION</span>
    </div>

    <div class="item">
      <h3>MASTER OF CREATIVE ARTS</h3>
      <p class="place">University Name · 2018 - Present</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        facilisis.
      </p>
    </div>

    <div class="item">
      <h3>MASTER OF DESIGN</h3>
      <p class="place">University Name · 2015 - 2017</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        facilisis.
      </p>
    </div>

    <div class="item">
      <h3>MARKETING OFFICER</h3>
      <p class="place">University Name · 2010 - 2012</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        facilisis.
      </p>
    </div>
  </div>

  <div class="col-6">
    <div class="section-title">
      <span class="icon-circle">
        <img src="img/work-experience.svg" class="icon" alt="work icon" />
      </span>
      <span>WORK EXPERIENCE</span>
    </div>

    <div class="item">
      <div class="item-head">
        <h3>WEB DESIGNER</h3>
        <span class="year">2018 - Present</span>
      </div>
      <p class="place">Company Name / Location</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>

    <div class="item">
      <div class="item-head">
        <h3>GRAPHIC DESIGNER</h3>
        <span class="year">2015 - 2018</span>
      </div>
      <p class="place">Company Name / Location</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </p>
    </div>

    <div class="item">
      <div class="item-head">
        <h3>MARKETING MANAGER</h3>
        <span class="year">2010 - 2015</span>
      </div>
      <p class="place">Company Name / Location</p>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </p>
    </div>
  </div>
</div>
