<div>
  <div class="contacts">
    <div class="contact-item">
      <span class="contact-me">CONTACT ME</span>
    </div>
    <div class="contact-item">
      <img src="img/phone.svg" class="icon-sm" alt="phone icon" />
      <span>+4-756-822-5156</span>
    </div>
    <div class="contact-item">
      <img src="img/website.svg" class="icon-sm" alt="website icon" />
      <span>www.yourwebsite.com</span>
    </div>
    <div class="contact-item">
      <img src="img/location.svg" class="icon-sm" alt="location icon" />
      <span>1173 Valley Street</span>
    </div>
  </div>
</div>
