<div class="row top-section">
  <div class="col-3 photo-block">
    <div class="photo"></div>
  </div>

  <div class="col-9 header-block">
    <h1 class="hello">Hello. I'm <span class="highlight">John Harrie</span></h1>
    <h2 class="subtitle">And I am A Graphic Designer</h2>

    <div class="section-title about-title">
      <span class="icon-box">
        <img src="img/about.svg" class="icon" alt="about icon" />
      </span>
      <span>ABOUT ME</span>
    </div>

    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida.
    </p>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus commodo
      viverra maecenas accumsan lacus vel facilisis.
    </p>
  </div>
</div>
