<div class="row skills-lang">
  <div class="col-6">
    <div class="section-title">
      <span class="icon-circle">
        <img src="img/my-skills.svg" class="icon" alt="skills icon" />
      </span>
      <span>MY SKILLS</span>
    </div>

    <div class="skills-grid">
      <div class="skill">
        <div class="label">Graphic Designing</div>
        <div class="bar">
          <span style="width: 85%"></span>
        </div>
      </div>
      <div class="skill">
        <div class="label">Web Designing</div>
        <div class="bar">
          <span style="width: 80%"></span>
        </div>
      </div>

      <div class="skill">
        <div class="label">Microsoft Word</div>
        <div class="bar">
          <span style="width: 75%"></span>
        </div>
      </div>
      <div class="skill">
        <div class="label">Affinity Designer</div>
        <div class="bar">
          <span style="width: 70%"></span>
        </div>
      </div>

      <div class="skill">
        <div class="label">MS Powerpoint</div>
        <div class="bar">
          <span style="width: 70%"></span>
        </div>
      </div>
      <div class="skill">
        <div class="label">Corel Draw</div>
        <div class="bar">
          <span style="width: 65%"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="section-title">
      <span class="icon-circle">
        <img src="img/languages.svg" class="icon" alt="languages icon" />
      </span>
      <span>LANGUAGES</span>
    </div>

    <div class="languages">
      <div class="lang-item">
        <p class="circle-label">
          Spanish <br />
          &amp; <br />
          French
        </p>
        <div class="circle">65%</div>
      </div>
      <div class="lang-item">
        <p class="circle-label">
          German <br />
          &amp; <br />
          Japanese
        </p>
        <div class="circle">70%</div>
      </div>
      <div class="lang-item">
        <p class="circle-label">
          English <br />
          &amp; <br />
          Portuguese
        </p>
        <div class="circle">85%</div>
      </div>
      <div class="lang-item">
        <p class="circle-label">
          Persian <br />
          &amp; <br />
          Quechua
        </p>
        <div class="circle">68%</div>
      </div>
    </div>
  </div>
</div>
